.falling-cities-layer {
    position: absolute;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
}

.falling-city {
    position: absolute;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.43);
    white-space: nowrap;
    user-select: none;
    padding: 0.5rem;
}

.falling-city.vertical {
    animation: fall-vertical linear infinite;
}

.falling-city.horizontal {
    animation: fall-horizontal linear infinite;
    
}

@keyframes fall-vertical {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  25% { opacity: 0.5; }
  50% { opacity: 1; }
  75% { opacity: 0.5; }
  90% { opacity: 0.3; }
  to {
    transform: translateY(45vh);
    opacity: 0;
  }
}

@keyframes fall-horizontal {
  from {
    transform: translateX(0) ;
    opacity: 0;
  }
  25% { opacity: 0.5; }
  50% { opacity: 1; }
  75% { opacity: 0.5; }
  90% { opacity: 0.3; }
  to {
    transform: translateX(70vw);
    opacity: 0;
  }
}

@media (min-width: 768px) {
    .falling-city {
        font-size: 2rem;
    }
}