.kaisei-tokumin-regular {
  font-family: "Kaisei Tokumin", serif;
  font-weight: 600;
  font-style: normal;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
}

.navbar-container{
  width: 80%;
  height: auto;
  display: flex;
  padding: 0;
  border: 1px;
  border-color: grey;
  border-radius: 3rem;
  background-color: #E8EEFF;
  display: flex;
  justify-content:center;
  align-items: center;
  box-shadow: 0 5px 3px grey;
}


.item {
  flex: 1;
  /* justify-content: center;
  align-items: center; */
  text-align: center;
  border-right: 1px solid rgb(191, 191, 191);
  padding: 1.3rem 0.75rem;
  font-size: 1.2rem;
  font-family: kaisei-tokumin-regular;
}
.item:first-child{
  border-bottom-left-radius: 3rem;
  border-top-left-radius: 3rem;
}

.item:last-child{
  border-bottom-right-radius: 3rem;
  border-top-right-radius: 3rem;
  border-right: 0;
}

.item-selected {
    box-shadow: 0 6px 3px rgb(87, 87, 87);
    background-color: #C1CFF5;
}

.whole-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.descriptive-container {
  background: #D8E1FD;
  flex: 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.interactive-container {
  background: #FCF0CD;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descriptive-title {
  color: #3B66E7;
  font-size: 4rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  padding-top: 2rem;
}


@media (min-width: 768px) {
  .whole-container{
    flex-direction: row;
  }
  .descriptive-container{
    flex: 3;
  }
  .interactive-container{
    flex: 7;
  }
  .item {
    font-size: 1.5rem;
  }
}