* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
}

.navbar-container{
  width: 90%;
  height: auto;
  padding: 0;
  border: 1px solid grey;
  border-radius: 3rem;
  background-color: #E8EEFF;
  display: flex;
  justify-content:center;
  align-items: center;
  box-shadow: 0 5px 3px grey;
}

.navbar-container .item:hover {
  color: #3B66E7; 
  text-decoration: none; 
  background-color: #C1CFF5;
  transition: all 0.3s ease-in-out;
}

.item {
  color: inherit;
  text-decoration: none;
  display: block;
  flex: 1;
  text-align: center;
  border-right: 1px solid rgb(191, 191, 191);
  padding: 1.3rem 0.75rem;
  font-size: 1.2rem;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 400;
  font-style: normal;
}
.item:first-child{
  border-bottom-left-radius: 3rem;
  border-top-left-radius: 3rem;
}

.item:last-child{
  border-bottom-right-radius: 3rem;
  border-top-right-radius: 3rem;
  border-right: 0;
}

.item-active {
    box-shadow: 0 6px 3px rgb(87, 87, 87);
    background-color: #C1CFF5;
}

.whole-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0;
  background:transparent;
}

.descriptive-container {
  background: #D8E1FD;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 0 2rem;
  z-index: 30;
  max-height: 100vh;
}

.interactive-container {
  background: #D8E1FD;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
  position: relative;
  overflow: hidden;
}

.interactive-container .error-msg {
  margin: 0.5rem 0;
  font-size: 1rem;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 1rem;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(190, 0, 0);
  z-index: 10;
}

.descriptive-title {
  color: #3B66E7;
  font-size: 4rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  padding-top: 2rem;
}

.descriptive-description {
  padding-top: 0.75rem;
  color: #284290;
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  border-bottom: 2px solid rgb(83, 83, 83);
}

.input-div {
  padding:0.5rem 0.5rem;
  background-color: #547BF0;
  border-radius: 1rem;
  z-index: 29;
  box-shadow: 0 4px 3px rgb(87, 87, 87);
}

.input-div input {
  outline: none;
  border: none;
  background: transparent;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem;
}

.input-div input::placeholder{
  color: #D2CFC6;
}

input.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  color: #547BF0;
  margin-top: 1rem;
  font-size: 2rem;
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #547BF0;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.discovery-page .descriptive-container {
    background-color: #FCF0CD;
  }
.discovery-page .interactive-container {
    background: #FCF0CD;
    justify-content: flex-start;
}

.discovery-info-div {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;;
  text-align: center;
}



.discovery-title {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  padding: 4rem 0rem;
  color: #3B66E7;
}

.desktop-only {
  display: none;
}


.explanation {
  color: #3B4F8E;
  text-align: center;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.discovery-title span {
  text-decoration: underline rgba(0, 0, 0, 0.5);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  transition: all 0.3s ease-in-out;
}

.discovery-title a {
  color: inherit;
  text-decoration: none;
}

.discovery-title span:hover {
  text-decoration-thickness: 2px;
  font-size: 3rem;
  color: #2551d2;
  transition: all 0.3s ease-in-out;

}

.discovery-sub-title {
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  padding-bottom: 0rem;
}

.discovery-instruction {
  font-size: 0.6rem;
}

.discovery-arrows {
  width: 1rem;
  height: auto;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;

}

.discovery-arrows img{
  max-width: 100%;
  object-fit: contain;
  height: auto;
}

.interactive-container.no-padding {
  padding: 0;
}

.Card-holder-div {
  display: flex;
  flex: 1;
  gap: 0.5rem;
  width:100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 7rem;
  overflow: visible;
}

.un-inter-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 1rem;
  overflow-wrap: anywhere;
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: italic;
  pointer-events: none;
}

.cards-div {
  position: relative;
  flex: 2;
  width: 100%;
  max-width: 22rem; /* IMPORTANT */
  height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.swipe-card {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  max-width: 20rem;
  cursor: grab;
  padding: 0;
  z-index: 10;
}

.interested-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 1rem;
  overflow-wrap: anywhere;
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: italic;
  pointer-events: none;
}

.Card {
  width: 100%;
  height: 12.75rem;
  background-color: black;
  border-radius: 1rem;
  border: 5px solid white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Card-image {
  max-width:100%;
  height: auto;
  object-fit: cover;
  display: flex;
  flex: 7;
  pointer-events: none;
}

.Card-title {
  color: black;
  font-size: 0.75rem;
  text-align: center;
  padding: 0.5rem 0.5rem;
  flex: 1;
  position: absolute;
  bottom: 4px;
  overflow-wrap: anywhere;
  max-width: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: white;
}

.int-logo-div {
  height: 3.5rem;
  width: 3.5rem;
  border: 1px solid grey;
  border-radius: 2rem;
  overflow: hidden;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-bottom:0.5rem;
}

.int-logo-div img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card-endpoint-msg {
  text-align: center;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: "Judson", serif;
  font-weight: 800;
  font-style: italic;
  font-size: 1.5rem;
}

.card-endpoint-msg button {
  background-color: inherit;
  padding: 1rem;
  padding-bottom: 0.5rem;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 2rem;
  font-family: "Judson", serif;
  font-weight: 800;
  font-style: italic;
  transition: all 0.5s ease-in-out;
}

.card-endpoint-msg button:hover {
  border-bottom: 1.5px solid grey;
  color: grey;
  padding-bottom: 1rem;
  scale: 1.2;
  transition: all 0.3s ease-in-out;
}

.map-title {
  font-size: 2.5rem;
  font-family: "Kalnia", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-variation-settings: "width" 100;
  font-style: normal;
  text-align: center;
  padding: 2rem 2rem 1rem 2rem;
}

.map-page-container .interactive-container {
  justify-content: flex-start;
  
}
.map-container {
  width: 100%;
  height: 25rem;
  overflow: hidden;
  border: 4px solid white;
  border-radius: 1rem;
}

.list-container {
  background-color: #E8EEFF;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  left: 5%;
  height: 9rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
  transition: height 1s ease-in-out;
  scrollbar-width: none;
  padding: 0 1rem;
  border: 1px solid rgb(166, 173, 249);
  z-index: 11;
}


.list-container.expanded {
  height: 30rem;
}

.expander-header {
  width: 100%;
  flex: 0 0 auto;
  height: 2rem;
  background-color: inherit;
  border: none;
  position: sticky;
  top: 0;
  z-index: 10;  
  font-size: 0.5rem;
}

.poi-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid white;
  border-radius: 1rem;
  width: 100%;
  height: auto;
  max-height: 11rem;
  padding: 0rem 0rem 0.3rem 0rem;
  background-color: white;
}

.poi-card .poi-img-div {
  width: 100%;
  height: 7.5rem;
  overflow: hidden;
  border: 4px solid white;
  border-radius: 1rem;
}

.poi-card .poi-img-div .poi-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.poi-card .poi-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.poi-card .poi-desc .poi-title {
  font-size: 1rem;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 400;
  font-style: normal;
}

.poi-card .poi-desc .poi-address {
  font-size: 0.5rem;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 400;
  font-style: normal;
}

.city-map {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.map-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-style: normal;
  padding: 0.5rem 2rem;
}

.map-card-info p {
  text-align: center;
  overflow-wrap: anywhere;
  padding-top: 0.2rem;
}

.map-card-info button {
  border: none;
  border-bottom: 1px solid black;
  padding: 0.3rem;
  margin-top: 1rem;
  background-color: inherit;
  font-size: 1rem;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-style: normal;
  transition: all 0.3s ease-in-out;
}

.map-card-info button:hover {
  border-bottom: 1.5px solid grey;
  color: grey;
  padding-bottom: 1rem;
  scale: 1.2;
  transition: all 0.3s ease-in-out;
}


@media (min-width: 768px) {

  .mobile-only {
    display: none;
  }

  .whole-container{
    flex-direction: row;
  }
  .descriptive-container{
    flex: 3 1 30%;
    min-width: 0;
  }
  .interactive-container{
    flex: 7 1 70%;
    min-width: 0;
    background: #FCF0CD;

  }
  .item {
    font-size: 1.5rem;
  }
  .descriptive-title {
    font-size: 5rem;
    padding: 3rem 0.3rem;
  }
  .descriptive-description {
    font-size: 2rem;
    padding-top: 1rem;
    border-bottom: 0;
  }
  .input-div input {
  outline: none;
  border: none;
  background: transparent;
  color: white;
  font-size: 2rem;
  padding: 0.5rem 0.5rem;
  }
  .discovery-title {
   font-size: 5rem;
   padding-top: 4rem;
   padding-bottom: 2rem;
   line-height: 1.2;
  }

  .desktop-only {
    display: block;
  }

  .discovery-info-div {
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }

  .discovery-sub-title {
    font-size: 3rem;
  }

  .discovery-instruction {
    font-size: 1.2rem;
  }

  .discovery-arrows {
    width: 2rem;
  }
  .discovery-page .descriptive-container {
      background-color: #D8E1FD;
    }
  .discovery-page .interactive-container {
    background: #FCF0CD;
  }
  .interested-div {
    font-size: 2rem;
    padding-top: 2rem;
  }

  .un-inter-div {
    font-size: 2rem;
    padding-top: 2rem;
  }
  .int-logo-div {
    height: 7rem;
    width: 7rem;
    border-radius: 4rem;
    padding: 1rem;
  }

  .Card {
    max-width: 16.75rem;
    height: 21.5rem;
  }

  .cards-div {
    height: 22rem;
    width: 17rem;
  }

  .Card-title {
    font-size: 1.5rem;
  }

  .Card-holder-div {
    margin-bottom: 0rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 6rem;
  }

  .discovery-title span:hover {
    font-size: 6rem;
  }

  .card-endpoint-msg {
    padding: 6rem 3rem;
  }

  .map-title {
    font-size: 3rem;
  }
  .list-container {
    width: 90%;
    position: static;
    height: auto;
    overflow: hidden;
    flex: 1;
    overflow-y: auto;
    padding: 1.5rem;
  }

  .map-page-container .interactive-container {
  justify-content: center;
  align-items: center;
  padding: 1rem
  
  }
  .map-container {
    width: 90%;
    height: 90%;
    overflow: hidden;
    border: 4px solid white;
    background-color: white;
    border-radius: 1rem;
  }
}